.header {
    margin-top: 20px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 20px;
    height: 60px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name {
    margin-left: auto;
    margin-right: 25px;
}
.logBTN {
    background-color: #fff;
    border: 2px solid rgb(255, 0, 255);
    border-radius: 3px;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}